.hero1Wrapper {
  min-height: 90vh;
}

.textAnimationBlock {
  line-height: 4rem;
}

.mockimg {
  width: max-content;
}

.createMenuBtn {
  background-color: #98c1d9;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.createMenuBtn:hover {
  background-color: #004466;
  color: #ffff;
}
