/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0C4A6E #b6e9eb;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #b6e9eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #0C4A6E;
  border-radius: 20px;
  border: none;
}